<div class="page-header">

  <table class="table table-striped table-hover">
    <tr>
      <th>Time Estimate</th>
      <th>Taxi Price</th>
      <th>Uber X Price</th>
      <th>Uber Pool Price</th>
    </tr>

    <tr>
      <td><%= @time %></td>
      <td>$<%= @taxi_price %></td>
      <td><%= @uber_price_x %></td>
      <td><%= @uber_price_pool %></td>
    </tr>
    
  </div>
