<div class="page-header">
  <dt>Time Estimate</dt>
  <dd><%= @time %></dd>
  <dt>Taxi Price</dt>
  <dd>$<%= @taxi_price %></dd>
  <dt>Uber X Price</dt>
  <dd><%= @uber_price_x %></dd>
  <dt>Uber Pool Price</dt>
  <dd><%= @uber_price_pool %></dd>
</div>
