

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <h3>Welcome <%= current_user.username %>, where would you like to go?
                <button class="btn btn-success"><a href="/locations/new">New location</a></button>
        </h3>
      </div>
      <div class="panel-body">
        <form action="/request">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <div class="form-group">
            <label for="name" class="control-label">
              Start Location
            </label>
            <p>
              <input id="current_location" name="current_location" type="checkbox" value="1" /> Current Location</input>
            </p>


            <%= select_tag(:start_address, options_from_collection_for_select(@locations, :address, :name), :class => "form-control", prompt: "Where do you want to leave from?") %>

          </div>


          <!-- Label and input for destination -->
          <div class="form-group">
            <label for="name" class="control-label">
              Destination
            </label>

            <%= select_tag(:destination_address, options_from_collection_for_select(@locations, :address, :name), :class => "form-control", prompt: "Home, for a good night sleep, or to school to get even smarter?") %>
          </div>

          <button class="btn btn-success">
            Request Pricing
          </button>

        </form>
      </div>
    </div>
  </div>
  </div>
